.login_box {
    width: 340px;
    border-radius: 12px;
    background-color: #fff;
}

.login_button {
    display: flex;
    justify-content: space-between;
}

.error {
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: red;
}